h2 {
  text-align: center;
}

.contact {
  text-align: center;
  font-style: italic;
}

.education {
  text-align: left;
}

.experience {
  text-align: left;
}

.skills {
  text-align: left;
}

.certifications {
  text-align: left;
}

.newsection {
  font-weight: bold;
}
